{% extends template.html %}


{% block content %}

<h2>Add a New User:</h2>
<p><font color="red">{{failmessage}}</font></p>
<div class=well>
  <form id=registeruser action={{uri}} method="POST">
  <div class="form-group">
    <label for="username">Choose a username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="namespace">Choose a namespace</label>
    <input type="namespace" class="form-control" id="namespace" name="namespace" placeholder="namespace">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="cpulimit">Select CPU limit</label>
    <select class="form-control" id="cpulimit" name="cpulimit">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <div class="form-group">
    <label for="memlimit">Select memory limit</label>
    <select class="form-control" id="memlimit" name="memlimit">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Extra notes</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="login-button">submit<submit</button>
</form>
</div>


{% end block %}
