{% extends template.html%}

{% block content %}

<h2><font color="gray">Current users:</font></h2>
<div class=well>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <form action="/case1/jobsubmit" method="POST" name="myform">
      <tr>
        <td>{{escape(user)}}
          <div style="display: none;">
            <input name="user" value={{escape(user)}}></input>
          </div>
        </td>
        <td>
          <div class="text-center"><p>cpu count:</p>
            <select class="selectpicker">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select></td>
        </div>
        <td>
          <div class="text-center">cpu (MilliCPU):
            <div class="knob" min=0 max=999 value=200 step=10>
              <div style="display: none;">
                <input name="{{escape(user)}}cpu"></input>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="text-center">memory (Mi):
            <div class="knob" min=100 max=500 value=350 step=5>
              <div style="display: none;">
                <input name="{{escape(user)}}mem"></input>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="text-center">
              <input id="{{escape(user)}}submit" type="submit" value="Submit Job" class="btn btn-primary"></input>
          </div>
        </td>
      </tr>
    </form>
    {% end %}
  </tbody>
</table>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-1">
            <form action="/case1/adduser" method="GET">
              <input id="adduser" type="submit" value="Add User" class="btn btn-default"></input>
            </form>
        </div>
        <div class="col-xs-1">
            <form action="/case1/deleteuser" method="GET">
              <input id="deluser" type="submit" value="Delete Users" class="btn btn-default"></input>
            </form>
        </div>
    </div>
</div>


{% end block %}
