{% extends template.html %}


{% block content %}

<h2>Add a New User:</h2>
<p><font color="red">{{failmessage}}</font></p>
<div class=well>
  <form id=registeruser action={{uri}} method="POST">
  <div class="form-group">
    <label for="username">Choose a username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="username">
  </div>
  <div class="form-group">
    <label>Select limits</label>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-md-5">
        <div class="text-center">cpu (MilliCPU):
          <div class="knob" min=100 max=999 value=200 step=10 size=100>
            <div style="display: none;">
              <input name="cpulimit"></input>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-5">
          <div class="text-center">memory (Mi):
            <div class="knob" min=100 max=500 value=350 step=5 size=100>
              <div style="display: none;">
                <input name="memlimit"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="login-button">submit<submit</button>
</form>
</div>


{% end block %}
