{% extends template.html%}

{% block content %}

<h2><font color="gray">Deploy Jobs:</font></h2>
<div class=well>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Users</th>
      <th scope="col">Job Name</th>
      <th scope="col" class="text-center">CPU (milli cpu)</th>
      <th scope="col" class="text-center">Memory (Mi)</th>
      <th scope="col" class="text-center"></th>
      <th scope="col" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for (user,cpulim,memlim,jobs) in userdata %}
      <form action="/case1/jobsubmit" method="POST" name="myform">
      <tr>
        <td class="align-middle">{{escape(user)}}
          <div style="display: none;">
            <input name="user" value={{escape(user)}}></input>
          </div>
          <div>
            <font size=1, color="gray">
              cpu limit: {{escape(cpulim)}} m
              </font>
            </div>
          <div>
            <font size=1, color="gray">
              memory limit: {{escape(memlim)}} Mi
              </font>
          </div>
        </td>
        <td class="align-middle">
            <input name="{{escape(user)}}job"></select>
          </td>
        <td class="text-center align-middle">
          <div class="knob" min=100 max={{escape(cpulim)}} value=150 step=10 size=50>
            <div style="display: none;">
              <input name="{{escape(user)}}cpu"></input>
            </div>
          </div>
        </td>
        <td class="text-center align-middle">
          <div class="knob" min=100 max={{escape(memlim)}} value=150 step=5 size=50>
            <div style="display: none;">
              <input name="{{escape(user)}}mem"></input>
            </div>
          </div>
        </td>
        <td class="text-center align-middle">
            <input id="{{escape(user)}}submit" type="submit" value="Submit Job" class="btn btn-primary"></input>
        </td>
        <td class="text-center align-middle">
          <a data-toggle="modal" data-target="#{{escape(user)}}JobsReport">See Jobs</a>
          <!-- =============== Let the Modal Begin ============= -->
          <!-- Modal -->
          <div class="modal fade" id="{{escape(user)}}JobsReport" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Running Jobs</h4>
                </div>
                <table class="table">
                  <thead>
              <tr>
                <th scope="col" class="text-center">Job Name</th>
                <th scope="col" class="text-center">CPU</th>
                <th scope="col" class="text-center">Memory</th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
                  <tbody>
                    {% for (jobid,cpureq,memreq) in jobs%}
                    <form action="/case1/jobkill" method="POST" name="{{escape(user)}}jobform">
                    <tr>
                      <td class="align-middle">
                        <div style="display: none;">
                          <input name="username" value={{escape(user)}}></input>
                        </div>
                        <div style="display: none;">
                          <input name="jobname" value={{escape(jobid)}}></input>
                        </div>
                        <div>
                          <p>{{escape(jobid)}}</p>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div>
                          <p>{{escape(cpureq)}}</p>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div>
                          <p>{{escape(memreq)}}</p>
                        </div>
                      </td>
                      <td class="text-center align-middle">
                          <input id="{{escape(user)}}{{escape(jobid)}}kill" type="submit" value="kill Job" class="btn btn-primary"></input>
                      </td>
                    </tr>
                    </form>
                    {% end %}
                  </tbody>
                </table>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- =============== Modal ends now ================== -->

        </td>
      </tr>
      </form>
    {% end %}
  </tbody>
</table>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-1">
            <form action="/case1/adduser" method="GET">
              <input id="adduser" type="submit" value="Add User" class="btn btn-default"></input>
            </form>
        </div>
        <div class="col-xs-1">
            <form action="/case1/deleteuser" method="GET">
              <input id="deluser" type="submit" value="Delete Users" class="btn btn-default"></input>
            </form>
        </div>
    </div>
</div>

{% end block %}
