{% extends template.html %}


{% block content %}

<h2 color="gray">Choose users to delete:</h2>
<form id=deleteusers action={{escape(uri)}} method="GET">
<div class="form-check">
<div class=well>
<table class="table">
  <tbody>
    {% for user in users %}
    <tr>
      <td>
          <input class="form-check-input" type="checkbox" value=""  id={{escape(user)}} name={{escape(user)}}>
      </td>
      <td>{{escape(user)}}</td>
    </tr>
    {% end %}
  </tbody>
</table>
</div>
<button type="submit" class="login-button">submit<submit</button>
</div>
</form>

{% end block %}
