<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="icon" href="{{static_url('images/LSST.jpg')}}" >
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{static_url('js/pureknob.js')}}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


  <title>Resource Allocation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>
<div class="container">
  <div class="text-center">
  <h1><a href="/lsstsim"><img src="{{static_url('images/LSST.jpg')}}"  style="width:100px;"><font color="gray"> Resource Allocation Simulator</font></a></h1>
</div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-md-10">
      {% block content %}
      {% end block %}
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>


<script src="{{static_url('js/knobfunctions.js')}}"></script>
<script src="{{static_url('js/timer.js')}}"></script>
</body>
</html>
